@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-icon {
    color: "gray";
}



.description {
    margin-right: 1%;
}

.search-icon {
    height: 1.3rem;
    width: 1.3rem;
}

.description {
    height: 2rem;
    width: 2rem;
    color: rgb(44, 44, 248);
}